@{
    ViewData["Title"] = "Top Products";
}
<h1 class="display-4">Top 5 Ordered Products</h1>
<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Gtin</th>
        <th>Total Quantity</th>
        <td></td>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
        <td>@item.ProductName</td>
        <td>@item.Gtin</td>
        <td>@item.TotalQuantity</td>
        <td><a asp-action="Edit" asp-route-id="@item.MerchantProductNo">Update</a></td>
        </tr>
    }
</table>